In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy import stats
from statsmodels.tsa.arima_model import ARIMA
import seaborn as sns
import matplotlib.pyplot as plt
import arima
import datetime
from sklearn.preprocessing import Imputer
%matplotlib inline

import sys
sys.path.append('../')
from pipeline import *
from onehot import *
from util import *

d:\app\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
features = pd.read_csv('raw_data/features.csv')
features.head(5)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [3]:
features[np.logical_not(np.isnan(features.MarkDown3))].head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
92,1,2011-11-11,59.11,3.297,10382.90,6115.67,215.07,2406.62,6551.42,217.998085,7.866,False
93,1,2011-11-18,62.25,3.308,6074.12,254.39,51.98,427.39,5988.57,218.220509,7.866,False
94,1,2011-11-25,60.14,3.236,410.31,98.00,55805.51,8.00,554.92,218.467621,7.866,True
95,1,2011-12-02,48.91,3.172,5629.51,68.00,1398.11,2084.64,20475.32,218.714733,7.866,False
96,1,2011-12-09,43.93,3.158,4640.65,19.00,105.02,3639.42,14461.82,218.961846,7.866,False

In [4]:
stores = pd.read_csv('raw_data/stores.csv')
stores.head(5)

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [5]:
train_data = pd.read_csv('raw_data/train.csv')
test_data = pd.read_csv('raw_data/test.csv')

use lr

In [6]:
# full_train=train_data.merge(stores,left_on='Store',right_on='Store').merge(features,left_on=('Store','Date'),right_on=('Store','Date'))
# full_train['Week_In_Year']=full_train.Date.astype(np.datetime64).apply(lambda d: datetime.date.isocalendar(d)[1])
# full_train.Date=full_train.Date.astype(np.datetime64)
# full_train['IsHoliday']=full_train.IsHoliday_x.astype('int')
# # full_train['Store']=full_train.Store.astype('U')
# # full_train['Dept']=full_train.Dept.astype('U')
# full_train['Week_In_Year']=full_train.Week_In_Year.astype('U')
# full_train.drop(['IsHoliday_x','IsHoliday_y'],axis=1,inplace=True)
# depts1=full_train[full_train.Dept==1][['Store','Dept','Type','Date','Weekly_Sales','Size','Temperature','Fuel_Price','CPI','Unemployment','IsHoliday','Week_In_Year']]
# depts1_isHoliday=depts1.IsHoliday
# depts1_train=depts1[depts1.Date<np.datetime64('2012-02-05')]
# depts1_test=depts1[depts1.Date>=np.datetime64('2012-02-05')]
# for df in (depts1_train,depts1_test):
#     df.index=np.arange(len(df))
    


# full_pipeline=DataFramePipeline([
# #     FeaturePipeline('Store','',Pipeline([('onehot',LabelBinarizerEx(['Store']))])),
# #     FeaturePipeline('Dept','',Pipeline([('onehot',LabelBinarizerEx(['Dept']))])),
# #     FeaturePipeline('Type','',Pipeline([('onehot',LabelBinarizerEx(['Type']))])),
# #     FeaturePipeline('Size','Size',Pipeline([('scale',StandardScaler())])),
# #     FeaturePipeline('Temperature','Temperature',Pipeline([('scale',StandardScaler())])),
# #     FeaturePipeline('Fuel_Price','Fuel_Price',Pipeline([('scale',StandardScaler())])),
# #     FeaturePipeline('CPI','CPI',Pipeline([('scale',StandardScaler())])),
# #     FeaturePipeline('Unemployment','Unemployment',Pipeline([('scale',StandardScaler())])),
#     FeaturePipeline('Week_In_Year','',Pipeline([('onehot',LabelBinarizerEx(['Week_In_Year']))])),
# ]
# )

# depts1p_train=full_pipeline.fit_transform(depts1_train)
# depts1p_train.drop(['Store','Dept','Type','Week_In_Year','IsHoliday','Date'],axis=1,inplace=True)
# depts1p_target=depts1p_train.Weekly_Sales
# depts1p_train=depts1p_train.drop('Weekly_Sales',axis=1)
# depts1p_train.head()

In [7]:
# lr=LinearRegression()
# gbt=GradientBoostingRegressor()
# lr.fit(depts1p_train,depts1p_target)
# sorted(zip(depts1_train.columns,lr.coef_),key=lambda x:x[1],reverse=True)

In [8]:
# depts1p_test=full_pipeline.transform(depts1_test)
# depts1p_test_isHoliday=depts1p_test.IsHoliday
# depts1p_test.drop(['Store','Dept','Type','Week_In_Year','IsHoliday','Date'],axis=1,inplace=True)
# depts1p_sales=depts1p_test.Weekly_Sales
# depts1p_test=depts1p_test.drop('Weekly_Sales',axis=1)
# depts1p_test.head()

In [9]:
def score(predict_data,validate_data,isHoliday):
    weights = np.array([5 if holiday else 1 for holiday in isHoliday])
    return np.sum(np.abs((predict_data-validate_data)*weights)) / np.sum(weights)

# score(lr.predict(depts1p_test),depts1p_sales,depts1p_test_isHoliday)
# len(lr.predict(depts1p_test)),len(depts1p_sales),len(depts1p_test_isHoliday)

In [10]:
# gbt=GradientBoostingRegressor(n_estimators=100)
# gbt.fit(depts1p_train,depts1p_target)
# score(gbt.predict(depts1p_test),depts1p_sales,depts1p_test_isHoliday)

In [11]:
# sorted(zip(depts1p_train.columns,gbt.feature_importances_),key=lambda x:x[1],reverse=True)

In [12]:
from sklearn.linear_model import LogisticRegression,SGDClassifier,LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC,LinearSVC
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor
from sklearn.ensemble import GradientBoostingClassifier, GradientBoostingRegressor
from xgboost import XGBClassifier,XGBRegressor

base_clfs=[
      LinearRegression(n_jobs=-1),
    
      RandomForestRegressor(n_jobs=-1),
      GradientBoostingRegressor(),
    XGBRegressor(),
#       AdaBoostClassifier(), 
#       ExtraTreesClassifier(n_jobs=-1)
]
from sklearn.model_selection import cross_val_score

%matplotlib inline
import matplotlib.pyplot as plt
from pylab import *

def trainModels(train_data, target):
    scores=[cross_val_score(clf,train_data,target,scoring='neg_mean_absolute_error',cv=5,verbose=1).mean() for clf in base_clfs]

    labels=[c.__class__.__name__[:3] for c in base_clfs]
#     X=np.arange(len(base_clfs))
#     bar(X,scores,tick_label=labels,color='rgb')
#     ylim(0.5,1.0)
#     show()
    print(sorted(zip(labels,scores),key=lambda x:x[1],reverse=True))
    
# trainModels(depts1p_train, depts1p_target)

d:\app\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [13]:
# from sklearn.model_selection import GridSearchCV

# param_grid_set=[
# #                 {'C':[0.01,0.1,0.5,1.]},
# #                 {'C':[1.,10.,],'kernel':['rbf','poly'],'gamma':[0.01,0.1,1.],'coef0':[1.,10.,]},
# #                 {'n_estimators':[50,100,200,300],'max_depth':[5,10,15]},
# #                 {'learning_rate':[0.01,0.1,1.0],'n_estimators':[100,200,300],'max_depth':[3,5,8]},
#     {'learning_rate':[0.1],'n_estimators':[1500,2000,3000],'max_depth':[5]},
# #                 {'learning_rate':[0.01,0.1,1.0],'n_estimators':[100,200,300]},
# #                 {'n_estimators':[50,100,200,300],'max_depth':[5,10,15]},
# #                 {'learning_rate':[0.01,0.1,1.0],'n_estimators':[100,200,300],'max_depth':[5,10,15],'gamma':[0.01,0.1,0.5]},
#                ]

# base_clfs=[GradientBoostingRegressor()]
# def tuneModels(train_data,target):
#     results=[]
#     for i in range(len(base_clfs)):
#         gs=GridSearchCV(estimator=base_clfs[i],param_grid=param_grid_set[i],scoring=score,verbose=1,cv=5)
#         gs.fit(train_data,target)
#         results.append((gs.best_estimator_,gs.best_score_))
#     print(sorted(results,key=lambda x:x[1],reverse=True))
#     return results

# tuneModels(depts1_train, depts1_target)

In [14]:
train_data = pd.read_csv('raw_data/train.csv')
test_data = pd.read_csv('raw_data/test.csv')

all_df=[train_data,test_data]

for i in range(len(all_df)):
    df=all_df[i]
    all_df[i]=df.merge(stores,left_on='Store',right_on='Store').merge(features,left_on=('Store','Date'),right_on=('Store','Date'))
    df=all_df[i]
    df['Week_In_Year']=df.Date.astype(np.datetime64).apply(lambda d: datetime.date.isocalendar(d)[1])
    df.Date=df.Date.astype(np.datetime64)
    df['IsHoliday']=df.IsHoliday_x.astype('int')
    df['Store']=df.Store.astype('U')
    df['Week_In_Year']=df.Week_In_Year.astype('U')
    df.drop(['IsHoliday_x','IsHoliday_y'],axis=1,inplace=True)
    
train_data=all_df[0]
test_data=all_df[1]

d:\app\Anaconda3\lib\site-packages\pandas\core\internals.py:3224: FutureWarning: Passing in 'datetime64' dtype with no frequency is deprecated and will raise in a future version. Please pass in 'datetime64[ns]' instead.
  return self.apply('astype', dtype=dtype, **kwargs)

In [15]:
# import time
# t=time.time()

# models={}
# depts=sorted(test_data.Dept.unique())
# for d in depts:
#     depts_train=train_data[train_data.Dept==d][['Store','Type','Weekly_Sales','Size',
#                                                 'Temperature','Fuel_Price','CPI','Unemployment','Week_In_Year']]
#     depts_train.index=np.arange(len(depts_train))
#     sales_train=depts_train.Weekly_Sales
    
#     pipeline=DataFramePipeline([
#         FeaturePipeline('Store','',Pipeline([('onehot',LabelBinarizerEx(['Store']))])),
#         FeaturePipeline('Type','',Pipeline([('onehot',LabelBinarizerEx(['Type']))])),
#         FeaturePipeline('Temperature','Temperature',Pipeline([('impute',Imputer(strategy='median'))])),
#         FeaturePipeline('Fuel_Price','Fuel_Price',Pipeline([('impute',Imputer(strategy='median'))])),
#         FeaturePipeline('CPI','CPI',Pipeline([('impute',Imputer(strategy='median'))])),
#         FeaturePipeline('Unemployment','Unemployment',Pipeline([('impute',Imputer(strategy='median'))])),
#         FeaturePipeline('Week_In_Year','',Pipeline([('onehot',LabelBinarizerEx(['Week_In_Year']))])),
#     ]
#     )
#     depts_p=pipeline.fit_transform(depts_train)
#     depts_p.drop(['Weekly_Sales','Store','Type','Week_In_Year'],axis=1,inplace=True)
    
#     gbt=GradientBoostingRegressor(n_estimators=1000)
#     gbt.fit(depts_p,sales_train)
#     models[d]=(pipeline, gbt)
    
# preds=[]
# store_depts=test_data.groupby(['Store','Dept']).count().index
# for sd in store_depts:
#     raw_test=test_data[np.logical_and(test_data.Store==sd[0],test_data.Dept==sd[1])]
#     depts_test=raw_test[['Store','Type','Size','Temperature','Fuel_Price','CPI','Unemployment','Week_In_Year']]
#     depts_test.index=np.arange(len(depts_test))

#     pipeline=models[sd[1]][0]
#     depts_p=pipeline.transform(depts_test)
#     depts_p.drop(['Store','Type','Week_In_Year'],axis=1,inplace=True)
#     sales_pred=models[sd[1]][1].predict(depts_p)
#     preds.append(pd.DataFrame({'Id':str(sd[0])+'_'+str(sd[1])+'_'+raw_test.Date.astype('U'),'Weekly_Sales':sales_pred.astype('int')}))
    
# result=pd.concat(preds)
# result.to_csv('output/regression/result.csv',index=False,header=True)

# 'total time %ds' % int(time.time()-t)

score 3235, rank 236

features excluding isHoliday, markdowns

In [16]:
test_data.describe()

,Dept,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
count,115064.000000,115064.000000,115064.000000,115064.000000,114915.000000,86437.000000,105235.000000,102176.000000,115064.000000,76902.000000,76902.000000,115064.000000
mean,44.339524,136497.688921,53.941804,3.581546,7689.216439,3734.051729,2403.088666,3356.219071,3922.681189,176.961347,6.868733,0.077592
std,30.656410,61106.926438,18.724153,0.239442,10698.760716,8323.495014,13767.939313,7570.501545,19445.150745,41.239967,1.583427,0.267529
min,1.000000,34875.000000,-7.290000,2.872000,-2781.450000,-35.740000,-179.260000,0.220000,-185.170000,131.236226,3.684000,0.000000
25%,18.000000,93638.000000,39.820000,3.431000,1966.460000,180.350000,15.100000,155.460000,1309.300000,138.402033,5.771000,0.000000
50%,37.000000,140167.000000,54.470000,3.606000,4842.290000,742.590000,78.260000,840.940000,2390.430000,192.304445,6.806000,0.000000
75%,74.000000,202505.000000,67.350000,3.766000,9439.140000,2735.670000,272.580000,3096.920000,4227.270000,223.244532,8.036000,0.000000
max,99.000000,219622.000000,101.950000,4.125000,103184.980000,71074.170000,149483.310000,65344.640000,771448.100000,228.976456,10.199000,1.000000

In [17]:
train_data.describe()

,Dept,Weekly_Sales,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
count,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,150681.000000,111248.000000,137091.000000,134967.000000,151432.000000,421570.000000,421570.000000,421570.000000
mean,44.260317,15981.258123,136727.915739,60.090059,3.361027,7246.420196,3334.628621,1439.421384,3383.168256,4628.975079,171.201947,7.960289,0.070358
std,30.492054,22711.183519,60980.583328,18.447931,0.458515,8291.221345,9475.357325,9623.078290,6292.384031,5962.887455,39.159276,1.863296,0.255750
min,1.000000,-4988.940000,34875.000000,-2.060000,2.472000,0.270000,-265.760000,-29.100000,0.220000,135.160000,126.064000,3.879000,0.000000
25%,18.000000,2079.650000,93638.000000,46.680000,2.933000,2240.270000,41.600000,5.080000,504.220000,1878.440000,132.022667,6.891000,0.000000
50%,37.000000,7612.030000,140167.000000,62.090000,3.452000,5347.450000,192.000000,24.600000,1481.310000,3359.450000,182.318780,7.866000,0.000000
75%,74.000000,20205.852500,202505.000000,74.280000,3.738000,9210.900000,1926.940000,103.990000,3595.040000,5563.800000,212.416993,8.572000,0.000000
max,99.000000,693099.360000,219622.000000,100.140000,4.468000,88646.760000,104519.540000,141630.610000,67474.850000,108519.280000,227.232807,14.313000,1.000000

In [18]:
onehot_pipeline=DataFramePipeline([
    FeaturePipeline('Store','',Pipeline([('onehot',LabelBinarizerEx(['Store']))])),
    FeaturePipeline('Type','',Pipeline([('onehot',LabelBinarizerEx(['Type']))])),
    FeaturePipeline('Week_In_Year','',Pipeline([('onehot',LabelBinarizerEx(['Week_In_Year']))])),
]
)
train_p = onehot_pipeline.fit_transform(train_data)
train_p.describe()

,Dept,Weekly_Sales,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,...,Week_In_Year_48,Week_In_Year_49,Week_In_Year_5,Week_In_Year_50,Week_In_Year_51,Week_In_Year_52,Week_In_Year_6,Week_In_Year_7,Week_In_Year_8,Week_In_Year_9
count,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,150681.000000,111248.000000,137091.000000,134967.000000,151432.000000,...,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000
mean,44.260317,15981.258123,136727.915739,60.090059,3.361027,7246.420196,3334.628621,1439.421384,3383.168256,4628.975079,...,0.014097,0.014133,0.021012,0.014166,0.014192,0.014104,0.021100,0.021180,0.020979,0.021093
std,30.492054,22711.183519,60980.583328,18.447931,0.458515,8291.221345,9475.357325,9623.078290,6292.384031,5962.887455,...,0.117892,0.118039,0.143424,0.118175,0.118283,0.117922,0.143717,0.143985,0.143313,0.143693
min,1.000000,-4988.940000,34875.000000,-2.060000,2.472000,0.270000,-265.760000,-29.100000,0.220000,135.160000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,18.000000,2079.650000,93638.000000,46.680000,2.933000,2240.270000,41.600000,5.080000,504.220000,1878.440000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,37.000000,7612.030000,140167.000000,62.090000,3.452000,5347.450000,192.000000,24.600000,1481.310000,3359.450000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,74.000000,20205.852500,202505.000000,74.280000,3.738000,9210.900000,1926.940000,103.990000,3595.040000,5563.800000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,99.000000,693099.360000,219622.000000,100.140000,4.468000,88646.760000,104519.540000,141630.610000,67474.850000,108519.280000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [19]:
md_cols=['MarkDown1','MarkDown2','MarkDown3','MarkDown4','MarkDown5']
hasMarkDown=np.array([False]*len(train_p))
for c in md_cols:
    hasMarkDown=np.logical_or(np.logical_not(np.isnan(train_p[c])),hasMarkDown)
    
train_md=train_p[hasMarkDown]
train_md=train_md.fillna(0)

In [38]:
import time
t=time.time()

models_md={}
models={}
depts=sorted(test_data.Dept.unique())
for d in depts:
    sales_train=train_p[train_p.Dept==d].Weekly_Sales
    depts_train=train_p[train_p.Dept==d].drop(['Store','Type','Weekly_Sales','Week_In_Year','Date','IsHoliday']+md_cols,axis=1)
    depts_train.index=np.arange(len(depts_train))
    
    gbt=RandomForestRegressor(n_estimators=300,max_depth=10)
    gbt.fit(depts_train,sales_train)
    models[d]=gbt
    
    sales_train=train_md[train_md.Dept==d].Weekly_Sales
    depts_train=train_md[train_md.Dept==d].drop(['Store','Type','Weekly_Sales','Week_In_Year','Date','IsHoliday'],axis=1)
    depts_train.index=np.arange(len(depts_train))

    gbt=RandomForestRegressor(n_estimators=300,max_depth=10)
    gbt.fit(depts_train,sales_train)
    models_md[d]=gbt
    

'total time %ds' % int(time.time()-t)

'total time 813s'

In [43]:
t=time.time()

test_p=onehot_pipeline.transform(test_data)
test_pipelines={}
stores=test_p.Store.unique()
for st in stores:
    pipeline=DataFramePipeline([
        FeaturePipeline('CPI','CPI',Pipeline([('impute',Imputer(strategy='median'))])),
        FeaturePipeline('Unemployment','Unemployment',Pipeline([('impute',Imputer(strategy='median'))])),
    ]
    )
    pipeline.fit(test_p[test_p.Store==st])
    test_pipelines[st]=pipeline
    
preds=[]
store_depts=test_p.groupby(['Store','Dept']).count().index
md_pred=0

for sd in store_depts:
    depts_test=test_p[np.logical_and(test_p.Store==sd[0],test_p.Dept==sd[1])]
    depts_test.index=np.arange(len(depts_test))
    
    
    depts_p=test_pipelines[sd[0]].transform(depts_test)
    
    hasMarkDown=np.array([False]*len(depts_p))
    for c in md_cols:
        hasMarkDown=np.logical_or(np.logical_not(np.isnan(depts_p[c])),hasMarkDown)

    test_md=depts_p[hasMarkDown]
    if len(test_md)>0:
        dates=test_md.Date
        test_md=test_md.fillna(0)
        test_md=test_md.drop(['Store','Type','Week_In_Year','Date','IsHoliday'],axis=1)
        sales_pred=models_md[sd[1]].predict(test_md)
        preds.append(pd.DataFrame({'Id':str(sd[0])+'_'+str(sd[1])+'_'+dates.astype('U'),'Weekly_Sales':sales_pred.astype('int')}))
        md_pred+=len(sales_pred)
    
    test_no_md=depts_p[np.logical_not(hasMarkDown)]
    if len(test_no_md)>0:
        dates=test_no_md.Date
        test_no_md=test_no_md.drop(['Store','Type','Week_In_Year','Date','IsHoliday']+md_cols,axis=1)
        sales_pred=models[sd[1]].predict(test_no_md)
        preds.append(pd.DataFrame({'Id':str(sd[0])+'_'+str(sd[1])+'_'+dates.astype('U'),'Weekly_Sales':sales_pred.astype('int')}))
    
    
result=pd.concat(preds)
result.to_csv('output/regression/result.csv',index=False,header=True)

print(md_pred, len(test_p)-md_pred)
'total time %ds' % int(time.time()-t)

115064 0

'total time 80s'

In [44]:
test_p.describe()

,Dept,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,...,Week_In_Year_48,Week_In_Year_49,Week_In_Year_5,Week_In_Year_50,Week_In_Year_51,Week_In_Year_52,Week_In_Year_6,Week_In_Year_7,Week_In_Year_8,Week_In_Year_9
count,115064.000000,115064.000000,115064.000000,115064.000000,114915.000000,86437.000000,105235.000000,102176.000000,115064.000000,76902.000000,...,115064.000000,115064.000000,115064.000000,115064.000000,115064.000000,115064.000000,115064.000000,115064.000000,115064.000000,115064.000000
mean,44.339524,136497.688921,53.941804,3.581546,7689.216439,3734.051729,2403.088666,3356.219071,3922.681189,176.961347,...,0.025742,0.025977,0.025647,0.025951,0.026090,0.025968,0.025760,0.025933,0.025647,0.025534
std,30.656410,61106.926438,18.724153,0.239442,10698.760716,8323.495014,13767.939313,7570.501545,19445.150745,41.239967,...,0.158366,0.159067,0.158079,0.158989,0.159403,0.159041,0.158418,0.158937,0.158079,0.157740
min,1.000000,34875.000000,-7.290000,2.872000,-2781.450000,-35.740000,-179.260000,0.220000,-185.170000,131.236226,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,18.000000,93638.000000,39.820000,3.431000,1966.460000,180.350000,15.100000,155.460000,1309.300000,138.402033,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,37.000000,140167.000000,54.470000,3.606000,4842.290000,742.590000,78.260000,840.940000,2390.430000,192.304445,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,74.000000,202505.000000,67.350000,3.766000,9439.140000,2735.670000,272.580000,3096.920000,4227.270000,223.244532,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,99.000000,219622.000000,101.950000,4.125000,103184.980000,71074.170000,149483.310000,65344.640000,771448.100000,228.976456,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [42]:
sales1=train_md[train_md.Dept==1].Weekly_Sales
train1=train_md[train_md.Dept==1].drop(['Store','Type','Weekly_Sales','Week_In_Year','Date','IsHoliday'],axis=1)
gbt=GradientBoostingRegressor()
gbt.fit(train1,sales1)
sorted(zip(train1.columns,gbt.feature_importances_),key=lambda x:x[1],reverse=True)

[('Size', 0.10188866894008272),
 ('Week_In_Year_14', 0.076670629505238161),
 ('Temperature', 0.061801619741723227),
 ('Week_In_Year_51', 0.053221111862435194),
 ('MarkDown2', 0.051041159811690336),
 ('MarkDown3', 0.04620311610497483),
 ('Week_In_Year_7', 0.041510667358349435),
 ('Week_In_Year_50', 0.04010782473493605),
 ('Store_10', 0.037228877049845711),
 ('Week_In_Year_15', 0.034113463150083935),
 ('Store_20', 0.03210462939748613),
 ('Week_In_Year_43', 0.028359239476435757),
 ('MarkDown4', 0.027316651297772689),
 ('Unemployment', 0.026221219337012644),
 ('Week_In_Year_13', 0.022817422723945487),
 ('Store_4', 0.020884611441850224),
 ('Store_23', 0.020772593194169318),
 ('Store_14', 0.020412279564601423),
 ('Store_13', 0.019880166842800695),
 ('CPI', 0.018634524848189175),
 ('Store_2', 0.017888055360122439),
 ('Week_In_Year_6', 0.016682625011705393),
 ('Week_In_Year_49', 0.016509481341719069),
 ('MarkDown5', 0.015952183592192928),
 ('MarkDown1', 0.015316799415913905),
 ('Store_17', 0.01258172475355513),
 ('Store_24', 0.012541506742349752),
 ('Fuel_Price', 0.012089651787899541),
 ('Store_31', 0.012037783260470591),
 ('Store_15', 0.011924568528116495),
 ('Week_In_Year_42', 0.011896413043488548),
 ('Store_27', 0.010851313693278694),
 ('Week_In_Year_1', 0.010051776056481457),
 ('Store_9', 0.0088199640668951782),
 ('Store_1', 0.0080633750823313217),
 ('Week_In_Year_2', 0.0070751878839168184),
 ('Store_22', 0.006669062256455768),
 ('Store_21', 0.0027263008414138059),
 ('Store_19', 0.0026057061243061523),
 ('Week_In_Year_41', 0.0021316969343167444),
 ('Week_In_Year_17', 0.0016354612395344068),
 ('Type_A', 0.0012906190920101465),
 ('Store_39', 0.00046801004100743712),
 ('Store_12', 0.00046026759716401284),
 ('Store_37', 0.00022137873759020644),
 ('Store_8', 0.00017863400603114599),
 ('Week_In_Year_9', 0.00013997712610983479),
 ('Dept', 0.0),
 ('Store_11', 0.0),
 ('Store_16', 0.0),
 ('Store_18', 0.0),
 ('Store_25', 0.0),
 ('Store_26', 0.0),
 ('Store_28', 0.0),
 ('Store_29', 0.0),
 ('Store_3', 0.0),
 ('Store_30', 0.0),
 ('Store_32', 0.0),
 ('Store_33', 0.0),
 ('Store_34', 0.0),
 ('Store_35', 0.0),
 ('Store_36', 0.0),
 ('Store_38', 0.0),
 ('Store_40', 0.0),
 ('Store_41', 0.0),
 ('Store_42', 0.0),
 ('Store_43', 0.0),
 ('Store_44', 0.0),
 ('Store_45', 0.0),
 ('Store_5', 0.0),
 ('Store_6', 0.0),
 ('Store_7', 0.0),
 ('Type_B', 0.0),
 ('Type_C', 0.0),
 ('Week_In_Year_10', 0.0),
 ('Week_In_Year_11', 0.0),
 ('Week_In_Year_12', 0.0),
 ('Week_In_Year_16', 0.0),
 ('Week_In_Year_18', 0.0),
 ('Week_In_Year_19', 0.0),
 ('Week_In_Year_20', 0.0),
 ('Week_In_Year_21', 0.0),
 ('Week_In_Year_22', 0.0),
 ('Week_In_Year_23', 0.0),
 ('Week_In_Year_24', 0.0),
 ('Week_In_Year_25', 0.0),
 ('Week_In_Year_26', 0.0),
 ('Week_In_Year_27', 0.0),
 ('Week_In_Year_28', 0.0),
 ('Week_In_Year_29', 0.0),
 ('Week_In_Year_3', 0.0),
 ('Week_In_Year_30', 0.0),
 ('Week_In_Year_31', 0.0),
 ('Week_In_Year_32', 0.0),
 ('Week_In_Year_33', 0.0),
 ('Week_In_Year_34', 0.0),
 ('Week_In_Year_35', 0.0),
 ('Week_In_Year_36', 0.0),
 ('Week_In_Year_37', 0.0),
 ('Week_In_Year_38', 0.0),
 ('Week_In_Year_39', 0.0),
 ('Week_In_Year_4', 0.0),
 ('Week_In_Year_40', 0.0),
 ('Week_In_Year_44', 0.0),
 ('Week_In_Year_45', 0.0),
 ('Week_In_Year_46', 0.0),
 ('Week_In_Year_47', 0.0),
 ('Week_In_Year_48', 0.0),
 ('Week_In_Year_5', 0.0),
 ('Week_In_Year_52', 0.0),
 ('Week_In_Year_8', 0.0)]