# Data Leak Test
The purpose of this notebook is to test the data leak due to the high number of shop / item combinations that have not had any item counts in the training months

In [16]:
# Import the libraries we need
import pandas as pd

## Read in the data

In [17]:
# These are the shop / item combinations which we need to predict.  We will submit zeros for every one of these
df_test = pd.read_csv('./data/test.csv')
df_test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

## Fill item_cnt_month with zeros and drop the shop_id and item_id

In [18]:
df_test['item_cnt_month'] = 0
del df_test['shop_id']
del df_test['item_id']
df_test.head()

   ID  item_cnt_month
0   0               0
1   1               0
2   2               0
3   3               0
4   4               0

## Write submission to .csv file

In [20]:
df_test.to_csv('submission.csv', index=False)

This submission of all zeros scored 1.25011 on the leaderboard!